<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= stylesheet_link_tag 'style', media: 'all' %>
<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
<title>Main page</title>
</head>
<body>
<div class="header">
  <div class="header__logo">
    <strong>LOGO</strong>
  </div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <%= link_to root_path, class: 'navbar__link' do %>
          <%= image_tag 'icons/home.svg', alt: 'Home' %>
          <i data-feather="home"></i><span>Home</span>
        <% end %>
      </li>
      <li class="navbar__item">
        <%= link_to collection_path, class: 'navbar__link' do %>
          <%= image_tag 'icons/collection.svg', alt: 'Collection' %>
          <i data-feather="folder"></i><span>Collection</span>
        <% end %>
      </li>
      <li class="navbar__item">
        <%= link_to '#', class: 'navbar__link' do %>
          <%= image_tag 'icons/settings.svg', alt: 'Account' %>
          <i data-feather="settings"></i><span>Account</span>
        <% end %>
      </li>
      <li class="navbar__item">
        <%= link_to '#', class: 'navbar__link' do %>
          <%= image_tag 'icons/help.svg', alt: 'Help' %>
          <i data-feather="help-circle"></i><span>Help</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>