<%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
<header id="header">
  <nav class="links" style="--items: 5;">
    <%= link_to 'Feed', root_path %>
    <%= link_to 'Collection', collection_cars_path %>
    <% if user_signed_in? %>
    <%= link_to 'Account', account_path  %>
    <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
    <%= link_to 'About', about_path  %>
    <a href="#">Link 5</a>
    <span class="line"></span>
  </nav>
</header>
