<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'script.js', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <!-- Navigation bar content -->
    </div>

    <div class="search-box-container">
      <div class="search-box">
        <i class="bx bx-search"></i>
        <%= form_with url: search_cars_path, method: :get, local: true do |form| %>
          <%= form.text_field :query, placeholder: "Search a car", value: params[:query] %>
          <div class="actions">
            <%= form.submit "Search", class: "form__input" %>
          </div>
        <% end %>
      </div>
      <%= link_to new_car_path do %>
        <%= image_tag 'icons/add-car.svg', class: 'add-car-icon' %>
      <% end %>
    </div>

    <div class="outer-container">
      <div class="inner-container" id="add-card">
        <% @cars.each do |car| %>
          <div class="card-container" data-name="<%= car.brand.downcase %>">
            <% if car.image.attached? %>
              <%= image_tag car.image, class: 'car-pic', alt: car.brand %>
            <% else %>
              <%= image_tag 'icons/image.svg', class: 'car-pic', alt: 'default' %>
            <% end %>
            <div class="card-content">
              <h6 class="title-h6"><%= car.brand %> <%= car.model %></h6>
              <div class="bottom-actions">
                <%= button_to car_path(car), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-btn' do %>
                  <%= image_tag 'icons/trash.svg', class: 'trash-icon' %>
                <% end %>
                <%= button_to car_like_path(car), method: :patch, class: 'like-btn', form_class: 'like-form' do %>
                  <%= image_tag car.liked_by?(current_user) ? 'icons/liked.svg' : 'icons/not-liked.svg', class: 'like-icon' %>
                <% end %>
                <h1><%= car.likes.count %></h1>
                <%= link_to 'Download (PNG)', rails_blob_path(car.image, disposition: "attachment"), class: 'download-png-btn' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="modal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modal-img" />
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'script' %>
  </body>
</html>
