<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'script.js', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <!-- Navigation bar content -->
    </div>

    <div class="search-box-container">
      <div class="search-box">
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search a car" />
      </div>
      <%= link_to image_tag('icons/add-car.svg', class: 'add-car-icon'), new_car_path %>
    </div>

    <div class="outer-container">
      <div class="inner-container" id="add-card">
        <% @cars.each do |car| %>
          <div class="card-container" data-name="<%= car.brand.downcase %>">
            <% if car.image.attached? %>
              <%= image_tag car.image, class: 'car-pic', alt: car.brand %>
            <% else %>
              <%= image_tag 'icons/image.svg', class: 'car-pic', alt: 'default' %>
            <% end %>
            <div class="card-content">
              <h6 class="title-h6"><%= car.brand %> <%= car.model %></h6>
                 <%= button_to car_path(car), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-btn' do %>
                  <%= image_tag 'icons/trash.svg', class: 'trash-icon' %>
                   <% end %>
                </button>
              <button class="download-png-btn">Download (PNG)</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="modal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modal-img" />
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'script' %>
  </body>
</html>
