<head>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'script.js', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <!-- Navigation bar content -->
  </div>

  <div class="search-box-container">
    <div class="search-box">
      <i class="bx bx-search"></i>
      <%= form_with url: search_cars_path, method: :get, local: true do |form| %>
        <%= form.text_field :query, placeholder: "Search a car", value: params[:query] %>

      <% end %>
    </div>
    <%= link_to new_car_path do %>
      <%= image_tag 'icons/add-car.svg', class: 'add-car-icon' %>
    <% end %>
  </div>

  <div class="outer-container">
    <div class="inner-container" id="add-card">
      <% @cars.each do |car| %>
        <%= render partial: 'cars/my_car', locals: { car: car } %>
      <% end %>
    </div>
  </div>

  <div id="modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal-img" />
  </div>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'script' %>
</body> 