
<div id='form-body'>
<h1>New car</h1>
<%= form_with(model: car, local: true, html: { class: 'form' }) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :brand, placeholder: 'Brand', class: 'form__input' %>
    <%= form.label :brand, class: 'form__label' %>
  </div>

  <div class="field">
    <%= form.text_field :model, placeholder: 'Model', class: 'form__input' %>
    <%= form.label :model, class: 'form__label' %>
  </div>

  <div class="field">
    <%= form.file_field :image, class: 'form__input' %>
    <%= form.label :image, class: 'form__label' %>
  </div>

  <div class="actions">
    <%= form.submit 'Add', class: 'form__input' %>
  </div>
<% end %>
<br>

<div class"actions">
  <%= link_to "Back to cars", cars_path %>
</div>

</div>
