<div class="card-container" data-name="<%= car.brand.downcase %>">
  <% if car.image.attached? %>
    <%= image_tag car.image, class: 'car-pic', alt: car.brand %>
  <% else %>
    <%= image_tag 'icons/image.svg', class: 'car-pic', alt: 'default' %>
  <% end %>
  <div class="card-content">
    <h6 class="title-h6"><%= car.brand %> <%= car.model %></h6>
    <div class="bottom-actions">
      <% if car.user == current_user %>
        <%= button_to car_path(car), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-btn' do %>
          <%= image_tag 'icons/trash.svg', class: 'trash-icon' %>
        <% end %>
      <% end %>
      <%= button_to car_like_path(car), method: :patch, class: 'like-btn', form_class: 'like-form' do %>
        <%= image_tag car.liked_by?(current_user) ? 'icons/liked.svg' : 'icons/not-liked.svg', class: 'like-icon' %>
      <% end %>
      <h1><%= car.likes_count %></h1>
      <%= link_to 'Download (PNG)', rails_blob_path(car.image, disposition: "attachment"), class: 'download-png-btn' %>
    </div>
  </div>
</div>