<div class="card-container" data-name="<%= car.brand.downcase %>">
  <% if car.image.attached? %>
    <%= image_tag car.image, class: 'car-pic', alt: car.brand %>
  <% else %>
    <%= image_tag 'icons/image.svg', class: 'car-pic', alt: 'default' %>
  <% end %>
  <div class="card-content">
    <h6 class="title-h6"><%= car.brand %> <%= car.model %></h6>
    <div class="bottom-actions">
      <% if car.user == current_user %>
        <%= button_to car_path(car), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-btn' do %>
          <%= image_tag 'icons/trash.svg', class: 'trash-icon' %>
        <% end %>
        <%= link_to edit_car_path(car), class: 'like-btn' do %>
          <%= image_tag 'icons/edit.svg', class: 'like-icon' %>
        <% end %>
      <% end %>
      
      <div id="like_button_<%= car.id %>">
        <% if current_user %>
          <% if car.liked_by?(current_user) %> 
            <%= link_to car_like_path(car), method: :patch, remote: true, class: 'like-btn', data: { turbo: "true" } do %>
              <%= image_tag 'icons/liked.svg', class: 'like-icon' %>
            <% end %>
          <% else %>
            <%= link_to car_like_path(car), method: :patch, remote: true, class: 'like-btn', data: { turbo: "true" } do %>
              <%= image_tag 'icons/not-liked.svg', class: 'like-icon' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div id="likes_count_<%= car.id %>">
        <h1><%= car.likes.count %></h1>
      </div>
         

      <div id="favorite-button-container">
        <% if current_user %>
          <% if current_user.favorites.find_by(car: car) %>
            <%= button_to unfavorite_car_path(car), method: :delete, remote: true, class: 'like-btn', id: 'favorite-button' do %>
              <%= image_tag 'icons/unfavorite.png', class: 'like-icon' %>
            <% end %>
          <% else %>
            <%= button_to favorite_car_path(car), method: :post, remote: true, class: 'like-btn', id: 'favorite-button' do %>
              <%= image_tag 'icons/favorite.svg', class: 'like-icon' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
      <%= link_to 'Download', rails_blob_path(car.image, disposition: "attachment"), class: 'download-png-btn' %>
    </div>
  </div>
</div>
